@import "style.css";

#locations-bnr {
    background-image: url('./images/careers-locations-hero-desktop.jpg');
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
}

.locations-map {
    margin: 0 auto;
    position: relative;
    height: 650px;
    display: inline-block;
}

.map-img {
    display: block;
    max-width: 100%;
    display: block;
    object-fit: cover;
    margin: auto;
}

 .location-card {
}

.test-map {
    position: relative;
}

.map-img-test {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    max-width: 100%;
    display: block;
    object-fit: contain;
}
.test-card {
    position: absolute;
    display: block;
    width: 5%;
    height: 5%;
    background: url('https://s33.postimg.cc/6d6a8b4yn/pin.png') no-repeat center center;
    background-size: contain;
    top: 0;
    left: 0;
    transform: translateY(1000%) translateX(1000%);
}

.location-hover {
    opacity: 50%;
    transition: all .3s ease;

}

#new-york-test {
   fill: green; 
}

.location-card {
  position: absolute;
  display: block;
  width: 5%;
  height: 5%;
}

#new-york.location-card {
    position: absolute;
    top: 20%;
    left: 15%;
}

#london {
    top: 10%;
    left: 35%;
}

.locations-card:hover {
 opacity: 30%;
}

.loc-card-bg {
    background: var(--secondary);
    opacity: 15%;
}

.loc-mobile-cards {
    display: none;
}

.locations-cta {
    display: flex;
    align-items: center;
    gap: 10%;
    margin: 10rem auto ;
}

.loc-cta-button {
    min-width: 13rem;
    height: 3.5rem;
}

.loc-cta-button:hover {
    color: var(--secondary);
    border: .15rem solid var(--secondary);
}

@media screen and (max-width: 1390px) {
    #locations-bnr {
        background-image: url('./images/careers-locations-hero-tablet.jpg');
        height: 10rem;
    }

    #locations-bnr .top-banner {
        margin: 0;
        height: 100%;
    }

    .locations-map {
        background-image: url('./images/world-map-tablet.png');
    }

    .locations-cta {
        flex-direction: column;
    }

    .loc-cta-title {
        text-align: center;
    }

    .loc-cta-button {
        margin-top: 2rem;
    }

  }

  @media screen and (max-width: 930px) {
    #locations-bnr {
        background-image: url('./images/careers-location-hero-mobile.jpg');
    }

    .locations-map {
        background-image: url('./images/world-map-mobile.png');
    }

    .loc-mobile-cards {
        display: flex;
        gap: 1rem;
    }
  }


